<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{.Person.FullName}}</title>
  <style>

  </style>
</head>
<body>


<h1>{{.Person.FullName}}</h1>
<p><a href="{{.Person.WWW}}">{{.Person.WWW}}</a></p>
<p><code>{{.Person.Email}}</code></p>


<a href="/people/{{.Person.Slug}}/votes">Votes</a>

<table>
<thead><tr><th>Office</th><th>Position</th><th>From</th><th>Until</th></tr></thead>
<tbody>
{{range .OfficeRecords}}
<tr>
	<td>{{.BodyName}}</td>
	<td>{{.Title}}</td>
	<td>{{.StartDate.Format "Jan 2006"}}</td>
	<td>{{ if not .EndDate.IsZero }}{{.EndDate.Format "Jan 2006"}}{{end}}</td>
</tr>
{{end}}
</tbody>
</table>

</body>
</html>